{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block head %} {% endblock %}



{% block content %}
    <h1>ECS - Elastic Compute Service</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/oss/">OSS - Object Storage Service</a></li>
        <li><a href="#">Network ...</a></li>
    </ul>
    <div style="padding-left: 30px">
        <form method="POST">
            {% csrf_token %}
            <label for="region">Regions:</label>
            <select id="region" name="region" onchange="this.form.submit();">
                {% for r in regions.Regions.Region %}
                <option value="{{ r.RegionId }}" {% if request.POST.region == r.RegionId %}selected{% endif %}>{{ r.RegionId }}</option>
                {% endfor %}
            </select>

            <label for="zone">Zones:</label>
            <select id="zone" name="zone" onchange="this.form.submit();">
                {% for r in zones.Zones.Zone %}
                <option value="{{ r.ZoneId }}" {% if request.POST.zone == r.ZoneId %}selected{% endif %}>{{ r.ZoneId }}</option>
                {% endfor %}
            </select>

            <label for="flavor">Size:</label>
            <select id="flavor" name="flavor">
                {% for r in flavors %}
                <option value="{{ r }}" {% if request.POST.flavor == r %}selected{% endif %}>{{ r }}</option>
                {% endfor %}
            </select>

            <br>
            <label for="image">Images:</label>
            <select id="image" name="image">
                {% for r in images.Images.Image %}
                    {% if r.Status == 'Available' %}
                <option value="{{ r.ImageId }}" {% if request.POST.image == r.ImageId %}selected{% endif %}>{{ r.OSType }} - {{ r.Architecture }} - {{ r.ImageName }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <br>
            <input id="action" name="action" type="hidden" value="">
            <button id="create" type="button" >Create Instance</button>
            <button id="refresh" type="button" >Refresh</button>

            <div>
                <label for="vms">Virtual Machines:</label>
                <table id="vms" border="1px" style="width: 95%;">
                    <thead>
                        <tr>
                            <td>ID</td><td>Type</td>
                            <td>Region</td><td>Zone</td><td>Status</td>
                            <td>Float IP</td>
{#                            <td>Public IPs</td>#}
                            <td>VPC IPs</td>
{#                            <td>Internal IPs</td>#}
                            <td>Actions</td>
                        </tr>
                    </thead>
                    {% for r in vms.Instances.Instance %}
                    <tr>
                        <td>{{ r.InstanceId }}</td><td>{{ r.InstanceType }}</td>
                        <td>{{ r.RegionId }}</td><td>{{ r.ZoneId }}</td><td>{{ r.Status }}</td>
                        <td>{{ r.EipAddress.IpAddress }}</td>
{#                        <td>{% for ip in r.PublicIpAddress.IpAddress %}{{ ip }} {% endfor %}</td>#}
                        <td>{% for ip in r.VpcAttributes.PrivateIpAddress.IpAddress %}{{ ip }} {% endfor %}</td>
{#                        <td>{% for ip in r.InnerIpAddress.IpAddress %}{{ ip }} {% endfor %}</td>#}
                        <td>
                            {% if r.Status.lower == 'stopped' %}
                            <a class="start" args="{{ r.InstanceId }}" href="#"><i class="fa fa-play"></i></a>
                            <a class="delete" args="{{ r.InstanceId }}" href="#"><i class="fa fa-trash-alt"></i></a>
                            {% endif %}
                            {% if r.Status.lower == 'running' %}
                            <a class="stop" args="{{ r.InstanceId }}" href="#"><i class="fa fa-stop"></i></a>
                            <a class="reboot" args="{{ r.InstanceId }}" href="#"><i class="fa fa-recycle"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </form>
    </div>
{% endblock %}


{% block script %}
    {{ block.super }}
    <script>
        var action = $("#action");
        var form = $("form");

        $("#create").click(function(){
            action.val('create');
            form.submit();
        });
        $("#refresh").click(function(){
            action.val('refresh');
            form.submit();
        });
        $(".start").click(function(){
            var args = $(this).attr('args');
            action.val('start '+ args);
            form.submit();
        });
        $(".stop").click(function(){
            var args = $(this).attr('args');
            action.val('stop ' + args);
            form.submit();
        });
        $(".reboot").click(function(){
            var args = $(this).attr('args');
            action.val('reboot ' + args);
            form.submit();
        });
        $(".delete").click(function(){
            console.log('delete');
            var args = $(this).attr('args');
            action.val('delete ' + args);
            form.submit();
        });
    </script>
{% endblock %}