{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block head %} {% endblock %}



{% block content %}
        <div style="padding-left: 30px">

    <h2>DXC Managed Service for AliCloud - Backup service Demo</h2>

{#    <ul>#}
{#        <li><a href="{% url 'ecs' %}">ECS - Elastic Compute Service</a></li>#}
{#        <li><a href="{% url 'oss' %}">OSS - Object Storage Service</a></li>#}
{#        <li><a href="{% url 'backup' %}">Backup - Snapshots</a></li>#}
{#    </ul>#}
</div>

<form class="form-horizontal" role="form" method="POST">
    {% csrf_token %}

</form>

{% endblock %}


{% block script %}
{% endblock %}